/*tip浮层 默认模板*/
.u-pop{ position:absolute; z-index: 1000;  min-width: 50px;}
.u-pop-bd{ background: #FFF; padding: 10px;  border: 1px solid #D18D50; text-align: center;}
.u-pop .arrowOut{
  border-color:#D18D50 transparent;
  border-style:solid;
  _border-style:solid dashed;
  height: 0;
  line-height: 0;
  width: 0;
  font-size:0;
  border-width: 0 6px 6px 6px;
  _border-width: 0 7px 7px 7px;
  position:absolute;
  z-index:11;
  top:-6px;
  left:30px;
  display:block;
  _display:inline;
  zoom:1;
}
.u-pop .arrowIn{
  border-color:#FFF transparent;
  border-style:solid;
  _border-style:solid dashed;
  display:block;
  _display:inline;
  height: 0;
  font-size:0;
  line-height: 0;
  width: 0;
  border-width: 0 6px 6px 6px;
  _border-width: 0 7px 7px 7px;
  position:absolute;
  z-index:12;
  left:30px;
  top:-5px;
  zoom:1;
  background:none\9;
}
.u-pop-loc-r .arrowOut{
   border-color:transparent #D18D50;
  _border-style:dashed solid;
  border-width:6px 6px 6px 0;
  _border-width:7px 7px 7px 0;
  left:-6px;
  top:20px;
}
.u-pop-loc-r .arrowIn{
  border-color:transparent #FFF;
  _border-style:dashed solid;
   border-width:6px 6px 6px 0;
  _border-width:7px 7px 7px 0;
  left:-5px;
  top:20px;
}
