/*tip浮层 by ytzheng*/
.icon_arrow_t,.icon_arrow_b,.icon_arrow_l,.icon_arrow_r{ display: inline-block; background: url(icons.png?2013071801) no-repeat;}
.icon_arrow_t{ background-position:-116px 0px; width: 13px; height: 7px;}
.icon_arrow_b{ background-position:-116px -8px; width: 13px; height: 7px;}
.icon_arrow_l{ background-position:-130px 0px; width: 7px; height: 13px;}
.icon_arrow_r{ background-position:-138px 0px; width: 7px; height: 13px;}
.u-pop{ position:absolute; z-index: 1000;  min-width: 50px;}
.u-pop .icon_arrow_t,.u-pop .icon_arrow_l{ display: block; position: absolute; font-size: 0;}
.u-pop .icon_arrow_t{ left: 18px; top:-6px;}
.u-pop .icon_arrow_l{ left: -6px; top:40px;}
.u-pop-bd{ background: #FFF; padding: 10px;  border: 1px solid #E1E1E1; text-align: center;}